<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
      

      
      
    </startup>
  <appSettings>
    <add key="ModelFileFullPath" value="C:\Users\1\Desktop\日报\实收款项明细表.xls"/>
         
  </appSettings>
</configuration>